p {
  color: red;
  color: #666666;
  font-family: 'EB Garamond', serif;
  text-align: center;

}

h1 {
  font-family: 'Pattaya', sans-serif;
  color: #556270;
  text-align: center;
  font-size: 65px;
}

body {
  background-color: #AAB3AB;
}

footer{
  font-family: 'EB Garamond', serif;
  font-size: 10px;
  text-align: left;
}
#container{
  width: 95%;
  background-color: #FAF4E3;
  margin: 20px auto;
  padding: 20px;
}

#image{
  border-style: none;
  margin: 5px auto;
  display: block;

}

#links{
  list-style-type: none;
  text-align: center;

}

.caption {
  color:black;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  font-style: italic;
  margin-top:0;
  text-align: right;
}

a:link    {color:#393939;
          background-color:#C0A878;
          text-decoration:none;
          font-family: 'Raleway', sans-serif;
        }

a:visited {color:#d89179;
          background-color:#C0A878;
          text-decoration:none;
          font-family: 'Raleway', sans-serif;
        }

a:hover   {color:#556270;
          background-color:#C0A878;
          text-decoration:underline;
          font-family: 'Raleway', sans-serif;
        }
a:active
          {color:#394024;
          background-color:#C0A878;
          text-decoration:underline;
          font-family: 'Raleway', sans-serif;
        }


img{
  border-style: none;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    font-family: 'Frank Ruhl Libre', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* center nav bar */
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  background-color: #556270;
}
ul.topnav li a:active {
  background-color: #b6ad86;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: auto;
    margin-right: auto;
}

#content{
    width: 450px;
  margin-left: auto ;
  margin-right: auto ;
}

#footer {
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}
