html{
  font-size: 100%
}

h1 {
  font-family: 'Pattaya', Helvetica, sans-serif;
  color: #556270;
  text-align: center;
  font-size: 65px;
}

ul.topnav {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 100;
    color: #C0A878;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: auto;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
    display: inline-block;
    background-color: #C0A878;
    color: #FAF4E3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    list-style-type: none;
}

ul.topnav li a:hover {
  background-color: #556270;
}

ul.topnav li a:active {
  background-color: #AAB3AB;
}

ul.topnav li.icon {
  display: none;
}

p {
  color: red;
  color: #666666;
  font-family: 'EB Garamond', 'Goudy Old Style', Georgia, serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.3rem;
}

em{
font-style: italic;
}

body {
  background-color: #AAB3AB;
}

#container{
  width: 95%;
  background-color: #FAF4E3;
  margin: 20px auto;
  padding: 20px;
}

#image{
  border-style: none;
  margin: 5px auto;
  display: block;
}

.caption {
  color:black;
  font-family: 'EB Garamond', 'Goudy Old Style', serif;
  font-size: 0.8em;
  font-style: italic;
  margin-top:0;
  text-align: right;
}

img{
  border-style: none;
}

#footer {
    color: black;
    font-family: 'EB Garamond', 'Goudy Old Style', serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}
