body{
  font-family: 'EB Garamond', serif;
  background-color: #AAB3AB;
}

p {
  color: #666666;
  font-family: 'EB Garamond', serif;
  text-align: left;
}

h2, h4{
  font-family: "Pattaya", sans-serif;
  color: #556270;
}


#header, #nav, #footer, h1, h3{
font-family: 'Raleway', sans-serif;
}

h1{
  letter-spacing: 3px;
}

h4{
  font-size: 1.4em;
}

img{
  width:100%;
  border-style: none;
  display: block;
}

#header .inner{
  padding:0px;
  background-color: #AAB3AB;
  font-size: 3em;
  text-align: center;
}

#content .inner{
  background: #E0E4CC;
  padding:10px;
}

#sidebar .inner{
  background: #cad8cc;
  color:white;
  padding:10px;
}

#nav ul{
  display:flex;
  flex-flow:row;
  justify-content: space-around;
  background-color: #b6ad86;
  color: white;
  list-style-type: none;
  padding:10px;
}

#nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  font-weight: normal;
}

#nav li {
  border-right: 1px solid rgba(255,255,255,.5);
  padding:5px;
  text-align:center;
}

#nav li:last-child {
  border-right: none;
}

#footer{
  color:white;
  padding:5px;
  text-align: left;
  color: black;
  font-family: 'EB Garamond', serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

@media screen and (min-width:600px){

  #pageBody{
    display:flex;
    flex-flow:row;
  }

  #content{
    flex:3 auto;
  }

h5{
  display:none;
}

  #sidebar{
    flex:1 auto;
  }

  #nav li{
    border-right:none;
  }
}

@media screen and (min-width:1000px){

  .wrapper{
    display: flex;
    flex-flow:row;
  }

  #nav ul{
    display:flex;
    flex-flow:column;
  }

  #nav li{
    border-right:none;
    border-bottom:1px solid rgba(255,255,255,.5);
  }

  #nav li:last-child {
    border-bottom: none;
  }

  #content{
    order:3;
    margin:10px;
  }

  #sidebar{
    order:1;
    margin:10px;
  }

  #nav{
    order:2;
    margin:10px;
    align-self: flex-start;
  }

  #footer{
    order:4;
    text-align: center;
  }

}
